{{!-- app/templates/head.hbs --}}

<title>({{this.model.envTitle}}) {{this.model.title}}</title>

{{!-- template-lint-disable no-forbidden-elements --}}
<meta property="og:title" content={{this.model.ogTitle}} />

<link rel="shortcut icon" href="../assets/images/favicon-{{this.model.faviconType}}.ico">
